name: Pull Request check

on:
  pull_request:
    branches:
      - 'dev'

jobs:

  build:
    name: Pull Request stability check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Lint running
        run: ./gradlew lintDebug

      - name: Upload Lint report
        uses: actions/upload-artifact@v3
        with:
          name: Lint report
          path: app/build/reports/lint-results-debug.html

      - name: Run Unit tests
        run: ./gradlew test

      - name: Upload Unit tests report
        uses: actions/upload-artifact@v3
        with:
          name: Unit tests reports
          path: |
            app/build/reports/tests/testDebugUnitTest/
            app/build/reports/tests/testReleaseUnitTest/

      - name: Assemble app
        run: ./gradlew assembleDebug --stacktrace

      - name: Upload app apk
        uses: actions/upload-artifact@v3
        with:
          name: app-debug
          path: app/build/outputs/apk/debug/app-debug.apk

      - name: Assemble tests
        run: ./gradlew assembleDebugAndroidTest --stacktrace

      - name: Upload tests apk
        uses: actions/upload-artifact@v3
        with:
          name: app-debug-androidTest
          path: app/build/outputs/apk/androidTest/debug/app-debug-androidTest.apk

  google-cloud-setup:
    name: Google Cloud setup
    runs-on: ubuntu-latest
    needs: build
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Download app APK
        uses: actions/download-artifact@v1
        with:
          name: app-debug

      - name: Download Android test APK
        uses: actions/download-artifact@v1
        with:
          name: app-debug-androidTest

      - name: Sign in Google Cloud
        uses: google-github-actions/auth@v0
        with:
          credentials_json: ${{ secrets.GOOGLE_CLOUD_KEY }}
          project_id: ${{ secrets.FIREBASE_PROJECT_ID }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0

      - name: Run tests
        run: gcloud firebase test android run --type instrumentation --app app-debug/app-debug.apk --test app-debug-androidTest/app-debug-androidTest.apk --device model=Pixel3,version=30,locale=en,orientation=portrait
