name: test-and-build

on:
  pull_request:
    branches:
      - 'dev'

jobs:

  lint-checks:
    name: Lint check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Lint running
        run: ./gradlew lintDebug

      - name: Upload Lint report
        uses: actions/upload-artifact@v3
        with:
          name: Lint report
          path: app/build/reports/lint-results-debug.html

  Unit-tests:
    name: Unit tests running
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Run Unit tests
        run: ./gradlew test --stacktrace

      - name: Upload Unit tests report
        uses: actions/upload-artifact@v3
        with:
          name: Unit tests reports
          path: |
            app/build/reports/tests/testDebugUnitTest/
            app/build/reports/tests/testReleaseUnitTest/
